:root {
    --main-text-color1: #CCA43B;
    --main-text-color2: #DAD2BC;
}

html {
    font-family: Century-Gothic;
}

.recent {
    width: 95% !important;
    height:350px;
    margin: 0 auto;
    background-color: #273C2C !important; 
    border: 3px solid #DAD2BC;
    display: flex;
    flex-basis: content;
    max-width: 1100px;  
    opacity: 0.9;
} 
 
 body {
    background-image: url("https://wallpaperaccess.com/full/1516567.jpg") !important;
    background-repeat: no-repeat;
    background-size: cover;

}

h1, p {
    text-align: center;
}

h1 {
    color: var(--main-text-color1);
    font-size: 40px;
}

h2 {
    color: var(--main-text-color2);
    text-align: center;
}

p { 
    color: var(--main-text-color2);
    font-size: 1.2em;
    text-align: justify;
    text-indent: 3em;
    margin-left: 30px;
    margin-right: 30px;
}

figcaption {
    color: #A99985;
    text-shadow: 0em 0em 3px var(--main-text-color2);
    text-align: center;
    font-size: 20px;
}

legend {
    font-size: 35px;
    color: var(--main-text-color1);
    padding-top: 3px;
}

.starting-text {
    background-color: #273C2C;
    border-radius: 10px;
    opacity: 0.8;
    max-width: 1100px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: varr(--main-text-color2);
}

blockquote {
    color: var(--main-text-color1);
    font-size: 1.4em;
    border-top: 2px solid var(--main-text-color2);
    border-bottom: 2px solid var(--main-text-color2);
    position: relative;
    width: 50%;
    margin: 20px auto; 
    text-align: center;

}

#gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    max-width: 1130px;
}

#gallery img {
    padding: 0 20px;
}

#no-exit-cover {
    display: flex;
    justify-content: center;
    margin: 15px auto;
    height: 250px;
    filter: grayscale(100%);
    opacity: 0.8;
}

img, figure {
    height: 90%; 
}

.current {
    width: 55% !important;
    height:350px;
    margin: 0 10px;
    background-color: #273C2C !important; 
    border: 3px solid var(--main-text-color2);
    display: flex;
    flex-basis: content;
    max-width: 580px; 
    justify-content: center;
    margin: auto;
    opacity: 0.9;
}

#gallery2 {
display: flex;
flex-basis: content;
flex-direction: row;
align-items: center;
justify-content: space-evenly;
max-width: 750px;
max-height: 350px;
}

#gallery2 img {
    padding: 0 20px;
    height: 90%;
}

ul {
    font-size: 30px;
    text-align: center;
    color: #E5E5E5;
    padding: 13px 0;
}

a {
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}


nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: rgba(218, 219, 188, 90%);
    height: 3em;
    text-align: right;
    border-radius: 5px;
    z-index: 2;
}

nav > a {
    color: #273C2C !important;
}

nav > a:hover {
    color: var(--main-text-color2) !important;
    background-color: #273C2C;
}
