:root {
    --main-text-color1: #CCA43B;
    --main-text-color2: #DAD2BC;
    --color1: #273C2C;
    --color2: #A99985;
}

html {
    font-family: Century Gothic;
    scroll-padding-top: 60px;
    
}

body { 
    background-image: url("https://wallpaperaccess.com/full/1516567.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    position: sticky;
    position: --webkit-sticky;
    top: 0;
    background-color: rgba(218, 219, 188, 90%);
    height: 3em;
    text-align: right;
    border-radius: 5px;
    z-index: 2;
    opacity: 0.8;
}

nav a {
    color: var(--color1);
}

nav a:hover {
    color: var(--main-text-color2);
    background-color: var(--color1);
}

#title, #subtitle {
    color: var(--main-text-color1);
    text-align: center;
    opacity: 0.9;
    font-weight: normal;
}

#starting-text {
    width: 95%;
    border-radius: 10px;
    background-color: var(--color1);
    opacity: 0.8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    color: var(--main-text-color2);
}

#starting-text p {
    text-indent: 25px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
}


#no-exit-cover {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;     
}

#no-exit-cover img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(80%);
}

figcaption {
    text-align: center;
    color: var(--main-text-color1);
    font-size: 1.2em;
}

blockquote {
    border-top: 2px solid var(--main-text-color2);
    border-bottom: 2px solid var(--main-text-color2);
    color: var(--main-text-color1);
    width: 50%;
    margin: 20px auto;
    text-align: center;
    font-size: 1.3em;
}

legend {
    font-size: 2em;
    font-family: Courier;
    color: var(--main-text-color1);
}

#recent {
    background-color: var(--color1);
    border-radius: 10px;
    opacity: 0.9;
    color: var(--main-text-color2);
    width: 95%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#recent figure {
 display: block;
}

#recent figcaption {
    text-align: center;
}

#recent-img {
    width: 20%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

#current {
    width: 85%;
    background-color: var(--color1);
    display: flex;
    opacity: 0.9;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    justify-content: center;
}

#current figure {
    display: block;
    padding-left: auto;
    padding-right: auto;
}

#current figcaption {
    text-align: center;
}

#gallery2 {
    display: flex;
}

.reviews {
    width: 40%;
    height: auto;
    background-color: var(--color1);
    opacity: 0.9;
    color: var(--main-text-color2);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.reviews h1 {
    color: var(--main-text-color1);
    font-family: Courier;
    font-weight: normal;
    text-align: center;
}

.reviews p {
    text-indent: 15px;
}

.spoiler {
    color: black;
    background: black;
}

.spoiler:hover {
    background: black;
    color: var(--main-text-color2);
}
