h1, p {
text-align: center;
font-face: Garamond;
}

.document {
margin: auto;
padding: auto;
height: 100%;
width: 100%;
background-color: rgb(150, 206, 148);
}

.recent {
background: gray;
text-align: center;
margin-right: 90%;
margin-left: 10%;
padding: 20px;
width:200px;
height: 350px;
}